$backgound_1: #154734;
$width_carta_jugador: 100%;
$backgound_2: #027626;
$borde_cartas: none;
$color_letras_clasificacion: white;
$alineacion_tr: center;
$radius_0: 0px;
$height_imagen_top: 80%;
$display_parrafo: block;
$with_carousel: 30%;
$with_parrafo: 70%;
$fuente_parrafo: 1.5rem;
$alineado_parrafo: justify;
$with_img_footer: 25%;
$margin_auto: auto;
$with_jugadores: 70%;
$m_bottom_jugadores: 5rem;
$display_menu: flex;
$justify_menu: space-between;
$align-items: center;
$direccion_columnas_flex_menu: column;
$color_letras: white;
$backgound_3: #027626;
$heigth_with_img_clasif: 35px;

//if para controlar el color del p que hay en carrousel
@if $color_letras==white {
    //cambiamos color y añadimos transparencia
    $backgound_3: #027627bb;
}

@mixin estilosCarousel {
    width: $with_carousel;
    display: $display_parrafo;
    margin-left: $margin_auto;
    margin-right: $margin_auto;
    background-color: $backgound_3;
}

@mixin estilosImajenesTop {
    width: $width_carta_jugador;
    height: $height_imagen_top;
}

@mixin estilosResumen($with, $borde, $color) {
    width: $with;
    border-radius: $borde;
    color: $color;
}


@mixin estiloImagenFooter($with, $margin_auto) {
    width: $with;
    margin-left: $margin_auto;
    margin-right: $margin_auto;
}

.menu {
    background-color: $backgound_1;
}

.logo,
.card-body {
    background-color: $backgound_2;
}



.carousel_jugadores {
    width: $with_jugadores;
    margin-bottom: $m_bottom_jugadores;
}

.presentacion_carousel {
    @include estilosCarousel();
}

.carta_jugador {
    border: $borde_cartas;
    width: $width_carta_jugador;
    border-radius: $radius_0;
    @include estilosImajenesTop();
}

#resumen {
    border: $borde_cartas;
    background-color: $backgound_2;
    @include estilosResumen($width_carta_jugador, $radius_0, $color_letras_clasificacion )
}

tr {
    text-align: $alineacion_tr;
}



.body_table_class tr td,
h1,
h4 {
    color: $color_letras;
}

thead tr {
    background-color: $backgound_1;
    color: $color_letras_clasificacion;
}

h2,
h1,
h4 {
    text-align: $alineacion_tr;
}

.footer {
    background-color: $backgound_1;
}

.footer div img {
    @include estiloImagenFooter($with_img_footer, $margin_auto);
}



@mixin menuEstilo {
    display: $display_menu;
    justify-content: $justify_menu;
    align-items: $align-items;
}

.contenedor_menu {
    @include menuEstilo();
}



#resumen .card-body p {
    width: $with_parrafo;
    display: $display_parrafo;
    margin-left: $margin_auto;
    margin-right: $margin_auto;
    font-size: $fuente_parrafo;
    text-align: $alineado_parrafo;
}



.contenedor_header {
    display: $display_menu;
    width: $width_carta_jugador;
    height: $width_carta_jugador;
    flex-direction: $direccion_columnas_flex_menu;
}

.img_clasif {
    height: $heigth_with_img_clasif;
    width: $heigth_with_img_clasif;
}